
<%= turbo_frame_tag dom_id(message), class: 'width' do %>
    <div class="hidden" id="<%= message.user_id %>" data-controller="hello">
      <%# if message.file %>
      <!--          <div id="for_file_downloading">-->
      <%#= link_to message.file, '/files/' + message.file, class: "link link-info", download: message.file %>
      <!--          < /div>-->
      <%# end %>
      <div class="alert alert-primary message shadow-md" id="<%= message.user_id %>" data-controller="change">
        <div class="flex justify-start w-100 mt-1">
          <p class="text content">
            <% if message.user.user_name %>
              <%= message.user.user_name %>
            <% else %>
              <%= message.user.email %>
            <% end %>
          </p>
        </div>
        <div class="flex justify-between items-center">
          <p class="text color time"><%= l(message.created_at, format: :message_time) %> </p>
          <p class="text content text-black"><%= Obscenity.replacement(:stars).sanitize(message.body) %></p>
        </div>
      </div>
    </div>
<% end %>
