<div class="for_table">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t(:email) %></th>
      <th colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <% if params[:page].to_i === 0%>
      <% counter = 1 %>
    <% else %>
      <% counter = 1 + (5 * (params[:page].to_i - 1)) %>
    <% end %>
    <% users.each do |user|%>
      <% if user != current_user %>
        <tr class="<%= cycle('white', 'blue', 'dark-blue') -%>">
          <th scope="row"><%= counter %></th>
          <% counter += 1 %>
          <td><% if user.user_name != '' %>
                <%= user.user_name %>
              <% else %>
                <%= user.email %>
              <% end %></td>
          <td><%= link_to new_room_path(id: user.id),class: "btn btn-outline-secondary btn-sm" do %>
              <%= t(:messages) %>
            <% end %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>