<header>
  <div class = "general">
    <div class="left">
      <div class = "hello">
        <h3 class="user"><%= @user_name %></h3>
      </div>
    </div>
    <div class="right">
      <div class="margin">
        <%= link_to t(:go_back), root_path, class: "btn btn-light btn-outline-warning" %>
      </div>
    </div>
  </div>
</header>

<div class="full_screen">
  <div class="for_user_page">
    <%= form_for @user, url: { action: :update }, method: :patch do |f| %>
      <div class="row">
        <%= f.label t(:user_name) %>
        <input <%= tag.attributes(class: "text_field is-invalid", placeholder: current_user.user_name, type: :text, required: 'required', name: "user[user_name]") %>>
        <% if flash[:messages] %>
          <h6 class="text-danger"><%= flash[:messages] %></h6>
        <% end %>
        <%= f.label t(:birthday) %>
        <input <%= tag.attributes(class: "text_field", placeholder: current_user.birthday, type: :date, required: 'required', name: "user[birthday]") %>>
        <%= f.label t(:age) %>
        <input <%= tag.attributes(class: "text_field", placeholder: current_user.age, type: :text, required: 'required', name: "user[age]") %>>
        <%= f.label t(:country) %>
        <input <%= tag.attributes(class: "text_field", placeholder: current_user.country, type: :text, required: 'required', name: "user[country]") %>>
        <%= f.file_field :avatar %>
        <%= f.submit t(:send), class: "btn btn-primary", id: "button_send_data" %>
      </div>
    <% end %>
  </div>
</div>