<header>
  <div class = "general">
    <div class="left">
      <div class = "hello">
        <h3 class="user">Welcome, <%= @login_name %></h3>
      </div>
    </div>
    <div class="right">
      <div class="margin">
        <a href="/users/<%=current_user.id.to_s%>/edit"><%= image_tag current_user.avatar.url(:thumb), class: "avatar" %></a>
      </div>
      <div class="margin">
        <%= link_to 'Exit', destroy_user_session_path, data: {confirm: "Are you sure?"}, :method => :delete, class: "btn btn-light btn-outline-danger" %>
      </div>
    </div>
  </div>
</header>

<%#= will_paginate %>
<div class="alert alert-dark container" role="alert">

</div>

<%= render 'users', users: @users %>

<%#= will_paginate %>