  <div class="our_messages" id="messages">
    <% @messages.each do |message| %>
      <% if message.sender_id == @user.id %>
        <div class="your" data-user_id=<% @user.id %>>
          <div id="for_file_downloading">
            <%= link_to message.file, '/', class: "avatar" %>
          </div>
          <div class="message">
            <p class="text color time"><%= l(message.created_at, format: :short ) %> </p>
            <p class="text"><%= message.body %></p>
          </div>
        </div>
      <% else %>
        <div class="my">
          <% if message.file %>
            <div id="for_file_downloading" class="small">
              <%= link_to message.file, '/files/' + message.file, class: "btn btn-primary btn-xs", download: message.file %>
            </div>
          <% end %>
          <div class="message">
            <p class="text"><%= message.body %></p>
            <p class="text color time"><%= l(message.created_at, format: :short ) %> </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
