<header class="header">
  <div class = "general">
    <div class="left">
      <div class = "hello">
        <h3 class="user"><%= current_user.email%></h3>
      </div>
    </div>
    <div class="right">
      <div class="margin">
      <%= link_to 'Go back', root_path, class: "btn btn-light btn-outline-warning"%>
    </div>
      <div class="margin">
        <%= link_to 'Exit', destroy_user_session_path, data: {confirm: "Are you sure?"}, :method => :delete, class: "btn btn-light btn-outline-danger" %>
      </div>
    </div>
  </div>
</header>

<div class="for_all">
  <div class="output">
    <div class="name" data-id="<%= current_user.id %>">
      <h3><%= @user.email %></h3>
    </div>
    <div class="messages">
        <%= render 'message'  %>
    </div>
  </div>
  <div class="two_forms">
    <div class="for_post" data-id="<%= @user.id %>">
      <%= form_tag user_create_path, id: "message_form" do %>
        <p>
          <br>
          <%= text_field_tag :input_message, class: "text_field", placeholder: "Write something...", type: "text", required: 'required'%>
          <%= hidden_field_tag :user_id, @user.id %>
        </p>

        <p>
          <%= button_tag 'API', class: "btn btn-light btn-outline-secondary", id: "button_send_message"%>
        </p>
      <% end %>
    </div>
    <div class="for_websocket" data-id="<%= @user.id %>" >
    <%= form_tag message_create_path, id: "websocket_form" do %>
      <p>
        <br>
        <%= text_field_tag :input_for_websocket, class: "text_field", placeholder: "Write something...", type: "text", required: 'required'%>
        <%= hidden_field_tag :user_id, @user.id %>
      </p>

      <p>
        <%= button_tag 'Websocket', class: "btn btn-light btn-outline-secondary", id: "button_for_websocket"%>
      </p>
    <% end %>
    </div>
    <div class="for_fetch" data-id="<%= @user.id %>">
      <%= form_tag user_create_path, id: "fetch_form" do %>
        <p>
          <br>
          <%= text_field_tag :input_for_fetch, class: "text_field", placeholder: "Write something...", type: "text", required: 'required'%>
          <%= hidden_field_tag :user_id, @user.id %>
        </p>

        <p>
          <%= button_tag 'Fetch', class: "btn btn-light btn-outline-secondary", id: "button_send_message"%>
        </p>
      <% end %>
    </div>
  </div>
</div>

