<header>
  <div class = "general">
    <div class="left">
      <div class = "hello">
        <h3 class="user">Welcome, <%= current_user.email%></h3>
      </div>
    </div>
    <div class="right">
      <div class = "link">
        <%= link_to 'Exit', destroy_user_session_path, data: {confirm: "Are you sure?"}, :method => :delete %>
      </div>
    </div>
  </div>
</header>r
<div class="users">
  <% @users.each do |user|%>
    <% if user != current_user %>
      <div class="user_block">
        <%= link_to user_chat_path(user_id: user.id), :method => :get do %>
          <div id="links">
            <% @user_id = user.id %>
              <%= user.id.to_i%>. <%= user.email %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>