<header><% counter = 1%>
  <div class = "general">
    <div class="left">
      <div class = "hello">
        <h3 class="user">Welcome, <%= current_user.email%></h3>
      </div>
    </div>
    <div class="right">
      <div class="margin">
        <%= link_to 'Exit', destroy_user_session_path, data: {confirm: "Are you sure?"}, :method => :delete, class: "btn btn-light btn-outline-danger" %>
      </div>
    </div>
  </div>
</header>

<%#= will_paginate %>
<div class="alert alert-dark container" role="alert">
  <h2 class="title-lg">
    <%= @users.count - 1 %>
    <%= inclination(@users.count - 1, 'друг', 'друга', 'друзей') %>
  </h2>
</div>
<%= render 'users', users: @users, user_id: @user_id %>

<%#= will_paginate %>