<header class="header">
  <div class = "general">
    <div class="left">
      <div class = "hello">
        <h3 class="user"><%= t(:welcome)%>, <%= current_user.email %></h3>
      </div>
    </div>
    <div class="right">
      <div class="margin">
        <%= link_to 'En', chat_url(locale: :en), :method => :post, class: "btn btn-light btn-outline-info" %>
      </div>
      <div class="margin">
        <%= link_to 'Uk', chat_url(locale: :uk), :method => :post, class: "btn btn-light btn-outline-info" %>
      </div>
      <div class="margin">
        <%= link_to t(:exit), destroy_user_session_path, data: {confirm: "Are you sure?"}, :method => :delete, class: "btn btn-light btn-outline-danger" %>
      </div>
    </div>
  </div>
</header>

<div class="chat-padding">
  <%= render 'users', users: @users_show, user_id: @user_id %>
</div>

  <div class="chat-pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <%= paginate @users_show %>
      </ul>
    </nav>
  </div>