<header>
  <div class = "general">
    <div class="left">
      <div class = "hello">
        <h3 class="user"><%= current_user.email %></h3>
      </div>
    </div>
    <div class="right">
      <div class="margin">
        <%= link_to t(:go_back), root_path, class: "btn btn-light btn-outline-warning"%>
      </div>
    </div>
  </div>
</header>

<div class="for_user_page">
  <%= bootstrap_form_with model: @model_name, url: { action: :update }, method: :patch do |f| %>

    <div class="row">
      <%= f.text_field :user_name, class: "text_field", placeholder: current_user.user_name, type: "text", required: 'required'%>
      <%= f.text_field :age, class: "text_field", placeholder: "Age", type: "text", required: 'required'%>
      <%= f.text_field :country, class: "text_field", placeholder: "Country", type: "text", required: 'required'%>
      <%= f.file_field :avatar%>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= f.submit 'Send', class: "btn btn-primary", id: "button_send_data"%>
    </div>

  <% end %>
</div>