<header>
  <div class = "general">
    <div class="left">
      <div class = "hello">
        <h3 class="user"><%= @user_name %></h3>
      </div>
    </div>
    <div class="right">
      <div class="margin">
        <%= link_to t(:go_back), root_path, class: "btn btn-light btn-outline-warning" %>
      </div>
    </div>
  </div>
</header>

<%# if Room.count === 0 %>
<div class="full_screen">
  <div class="for_user_page">
    <%= form_with url: rooms_path do |f| %>
      <div class="row">
        <%= f.label t(:room_name) %>
        <%= f.text_field :title, class: "text_field is-invalid", placeholder: 'room name', type: "text", required: 'required' %>
        <%= f.hidden_field :id, value: params[:id] %>
        <% if Room.count == 0 %>
          <%= f.hidden_field :room_id, value: 1 %>
        <% else %>
          <%= f.hidden_field :room_id, value: Room.last.id + 1 %>
        <% end %>
        <%# if flash[:messages] %>
<!--          <h6 class="text-danger"><%#= flash[:messages] %></h6>-->
        <%# end %>
        <%= f.submit t(:create), class: "btn btn-primary", id: "button_send_data" %>
      </div>
    <% end %>
  </div>
</div>
<%# end %>