<!DOCTYPE html>
<html>
  <head>
    <title>Mychat</title>
    <%= Gon::Base.render_data %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application' %>
    <%#= javascript_pack_tag 'application' %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  </head>

  <body>
  <div class="screen">
    <%= yield %>
  </div>
  </body>
</html>
